version: '2'

services:

  zookeeper:
    image: debezium/zookeeper:1.2
    ports:
    - 2181:2181

  kafka:
    image: debezium/kafka:1.2
    depends_on:
    - zookeeper
    ports:
    - 9092:9092
    links:
    - zookeeper
    environment:
      ADVERTISED_LISTENERS: PLAINTEXT://host.docker.internal:9092
      LISTENERS: PLAINTEXT://0.0.0.0:9092
      ZOOKEEPER_CONNECT: zookeeper:2181

  connect:
    image: debezium-connector-hana-min:latest
    depends_on:
    - kafka
    ports:
    - 8083:8083
    links:
    - zookeeper
    - kafka
    environment:
      BOOTSTRAP_SERVERS: kafka:9092
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: my_connect_configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses
